.form-control {
  text-align: center !important;
  color: rgb(255, 166, 0) !important;
  background-color: rgba(122, 122, 122, 0.3) !important;
  transition: all 0.6s !important;
}

.form-control:focus {
  background-color: rgba(177, 176, 176, 0.3) !important;
  color: rgb(255, 189, 67) !important;
}
.form-control option {
  width: 500px !important;
  background-color: rgb(100, 97, 97) !important;
}

.form-group {
  width: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  transition: all 0.6s !important;
}
#new_room_form_error {
  color: red;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#new_room_form {
  background-image: linear-gradient(
    rgba(90, 40, 255, 0.2),
    rgba(177, 176, 176, 0.3)
  );
  border-radius: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
